/* Valve buttons */
.btn-bubble {
    color: white;
    background-color: #77b11c;
    background-repeat: no-repeat;
}
.btn-bubble-animating {
    -webkit-animation: bubbles 1s forwards ease-out;
    animation: bubbles 1s forwards ease-out;
    background: radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 55% 111% / 1.1em 1.1em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 52% 120% / 0.75em 0.75em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 103% 101% / 1.14em 1.14em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 77% 144% / 0.67em 0.67em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 84% 120% / 0.97em 0.97em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 20% 136% / 0.87em 0.87em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 109% 90% / 0.76em 0.76em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 44% 127% / 1.02em 1.02em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 44% 140% / 1.12em 1.12em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 105% 132% / 0.83em 0.83em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) -7% 90% / 0.95em 0.95em;
    background-color: #77b11c;
    background-repeat: no-repeat;
}

.btn-bubble-active {
    background-color: #0072c4;
    color: white;
}

@-webkit-keyframes bubbles {
    100% {
        background-position: 61% -199%, 45% 55%, 102% -33%, 80% 49%, 93% -258%, 15% -129%, 104% 59%, 36% -114%, 39% -90%, 106% -77%, -4% -273%;
        box-shadow: inset 0 -6.5em 0 #0072c4;
    }
}

@keyframes bubbles {
    100% {
        background-position: 61% -199%, 45% 55%, 102% -33%, 80% 49%, 93% -258%, 15% -129%, 104% 59%, 36% -114%, 39% -90%, 106% -77%, -4% -273%;
        box-shadow: inset 0 -6.5em 0 #0072c4;
    }
}

.btn {
    display: inline-block;
    text-decoration: none;
    padding: 1em 2em;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1.5em;
    margin-top: 1em;
}

/* Pump button */
.button-85 {
   padding: 0.6em 2em;
   border: none;
   outline: none;
   color: rgb(255, 255, 255);
   background: #111;
   cursor: pointer;
   position: relative;
   z-index: 0;
   border-radius: 10px;
   user-select: none;
   -webkit-user-select: none;
}

.button-85-animating:before {
    content: "";
    background: linear-gradient(
            45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.button-85-animating:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}

/* Menu */
.menu {
    position: relative;
    padding: 5px;
    display: flex;
    background: linear-gradient(135deg, #9a0dfe, #637dfb);
    box-shadow: 0 2px 12px 0 rgba(91, 41, 191, 0.5);
    border-radius: 4px;
    height: 30px;
    font-size: 1.3em;
}

.fa {
    font-size: 24px;
    position: relative;
    top: 3px;
    opacity: 0.7;
}

.fa-cog {
    position: relative;
    left: 3px;
}

.menu_text {
    padding-left: 10px;
}

.menu_box {
    background: #000;
    box-shadow: 0 2px 12px 0 rgba(91, 41, 191, 0.5);
    border-radius: 4px;
    position: absolute;
    bottom: calc(100% + 14px);
    left: 0;
    width: 100px;
    padding: 10px;
    opacity: 0;
    -moz-transform: translateY(100%) translateX(-30%) scale(0.1);
    -ms-transform: translateY(100%) translateX(-30%) scale(0.1);
    -webkit-transform: translateY(100%) translateX(-30%) scale(0.1);
    transform: translateY(100%) translateX(-30%) scale(0.1);
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.menu_box:after {
    content: "";
    position: absolute;
    left: 20px;
    bottom: -20px;
    border: 10px solid transparent;
    border-top: 10px solid #000;
}

.menu_list {
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    opacity: 0.7;
}

.menu_label {
    position: relative;
    cursor: pointer;
    line-height: 30px;
    text-transform: uppercase;
    color: #fff;
    width: 44px;
    display: flex;
    padding: 0 10px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    align-items: center;
}
.menu_label:hover .fa {
    opacity: 1;
}

.menu_text {
    opacity: 0;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.menu_input[type=radio] {
    display: none;
}
.menu_input[type=radio]:checked + .menu_label {
    background-color: rgba(255, 255, 255, 0.3);
    width: 440px;
}
.menu_input[type=radio]:checked + .menu_label .fa {
    opacity: 1;
}
.menu_input[type=radio]:checked + .menu_label .menu_text {
    opacity: 1;
}
.menu_input[type=radio]:checked + .menu_label + .menu_box {
    opacity: 1;
    -moz-transform: translateY(0) translateX(0) scale(1);
    -ms-transform: translateY(0) translateX(0) scale(1);
    -webkit-transform: translateY(0) translateX(0) scale(1);
    transform: translateY(0) translateX(0) scale(1);
}


/* Global */
body {
    background: #3f446e;
    min-height: 96vh;
}

.invisible {
    display: none !important;
}

.status-icon {
    padding: 5px;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    top: 5px;
    width: auto;
}

.fa-plug-circle-xmark {
    color: red;
}

.fa-plug-circle-check {
    color: green;
}

.fa-plug-circle-bolt {
    color: black;
}

.console {
    position: absolute;
    bottom: 0;
    background: black;
    color: white;
    left: 0;
    width: 100%;
    padding: 2px;
    box-sizing: border-box;
    height: 178px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.crud-section {
    overflow-y: scroll;
    height: 310px;
    color: white;
    margin-top: 1em;
    font-size: 2em;
}

.crud-section table {
    border-collapse: collapse;
}

.crud-section table tr th, .crud-section table tr td {
    border: 1px solid white;
    padding: 3px;
}

.save-irrigation-line-button {
    margin-right: 1em;
}

.irrigation-lines {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}